
<header id="head" class="index-header">
  <div class="top-container">
    <div class="top-logo">
      <a [routerLink]="['/index']"><img src="../assets/images/logo.svg" alt="logo"></a>
    </div>
    <ul class="top-mnu">
      <li><a routerLinkActive="active" [routerLink]="['/about']">About</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/arbitrage']">Crypto Arbitrage</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/mining']">Bitcoin Mining</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/trading']">Crypto Trading</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/ico']">ICO</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/contact']">Contact Us</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/terms']">Terms of Use</a></li>
    </ul>
<div class="login-mnu">
    <a class="btn" (click)="onLogin()">Sign In</a>
    <a class="btn sign-btn" (click)="onRegister()">Sign Up</a>
</div>
    <div class="usr-mnu hidden">
      <a [routerLink]="['/balance']"><div class="usr-icon"></div><span class="usr-name">John Doe</span></a>
    </div>
<div class="hamb-ico humburger h-mod" (click)="hidden = !hidden; showMnu($event)"></div>
    <nav [hidden]="!hidden" class="drop-mnu">
      <ul>
        <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/about']">About</a></li>
        <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/arbitrage']">Crypto Arbitrage</a></li>
        <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/mining']">Bitcoin Mining</a></li>
        <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/trading']">Crypto Trading</a></li>
        <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/ico']">ICO</a></li>
        <li *ngIf="signInOn"><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/balance']">Profile</a>

          <ul class="sub-mnu">
            <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/balance']">Balance</a></li>
            <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/history']">History</a></li>
            <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/deposit']">Deposit &
              Withdrawl</a></li>
            <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/settings']">Profile
              Settings</a></li>
            <li><a routerLinkActive="active" href="#" (click)="onLogout()">Log Out</a></li>
          </ul>

        </li>
        <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/contact']">Contact Us</a></li>
        <li><a routerLinkActive="active" (click)="hidden = !hidden; showMnu($event)" [routerLink]="['/terms']">Terms of Use</a></li>
      </ul>
    </nav>

  </div>
</header>

<app-signin *ngIf="signInOn" (close)="onLogin($event)" (toggleForm)="switchSignUp($event)" (recover)="switchRecover($event)"></app-signin>
<app-signup *ngIf="signUpOn" (close)="onRegister($event)" (toggleForm)="switchLogIn($event)"></app-signup>
<app-recoverpass *ngIf="recoverPassOn" (close)="onRecover($event)" (toggleForm)="switchSignUp($event)"></app-recoverpass>
