<app-profile></app-profile>
<div class="content-user-withdrawl withdrawl-mod">
  <section class="user-main">
    <div class="user-settings">
      <p>Profile Information</p>
      <div class="user-settings-form">
        <label>First Name
          <input type="text" placeholder="First Name">
        </label>
        <label>Last Name
          <input type="text" placeholder="Last Name">
        </label>
        <label>Phone Number
          <input type="text" placeholder="Phone Number">
        </label>
        <label>Email
          <input type="text" placeholder="Email">
        </label>
        <label>Country
          <input type="text" placeholder="Country">
        </label>

      </div>
      <a (click)="onChange()" class="user-changepass">Change Password</a>
      <a (click)="onSaveSettings()" class="save-btn">Save Changes</a>
    </div>
  </section>
</div>
<app-changepass *ngIf="changePassOn" (close)="onChange($event)"></app-changepass>

<footer class="small-footer">
  <div>
    <small>Copyright 2017. All Rights Reserved.</small>
  </div>
</footer>
