<div class="cont-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis deleniti distinctio, eius, eum
          nobis nostrum odit qui quis sunt! Minima nihil pariatur perspiciatis rerum sed,
          voluptatum.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
      <div class="main-content">
        <h5>Vitae voluptates voluptatum! Minima nihil pariatur perspiciatis rerum sed,
          voluptatum.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur consectetur deleniti dolorem earum, soluta voluptatum? Asperiores deleniti, dolore eius, illum itaque libero minima molestiae pariatur quis sapiente, sunt veritatis.</p>
        <img src="../assets/images/content/exemp-cont.jpg" alt="chart image">
        <p>Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
          Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum
          ullamcorper est sit amet, molestie mollis nulla. Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.<br><br></p>
      </div>
    </div>
  </div>
</div>
