<app-profile></app-profile>
<div class="content-user-withdrawl">
  <section class="user-main user-withdrawl">
    <div class="user-depo">
      <p>Deposit Money To</p>
      <span class="user-code">diuh489hd348hd8h</span>
      <a class="copy-btn" href="#">Copy</a>
    </div>
    <div class="user-depo-form">
      <p>Withdrawl Money</p>
      <span>Balance: 2.3 BTC</span>

      <form class="depo-form">

        <label>Summary
          <input type="text" placeholder="0.0">
        </label>
        <p class="depo-oninput">All Amount</p>
        <label>Withdrawl to
          <input type="text"  placeholder="8y3289h9482h98">
        </label>
        <a href="#" class="withdrawl-btn">Withdrawl</a>
      </form>

    </div>
  </section>
</div>

<footer class="small-footer">
  <div>
    <small>Copyright 2017. All Rights Reserved.</small>
  </div>
</footer>
