<div class="cont-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
        <h2>Crypto Trading</h2>
        <p>Nulla mollis sapien</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
      <div class="main-content">
        <h5>Nunc vel rhoncus nibh, ut tincidunt turpis.  at viverra est semper. Sed sapien metus, scelerisque nec pharetra
          id, tempor a tortor.</h5>
        <p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra
          id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut.
          Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
          Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum
          ullamcorper est sit amet, molestie mollis nulla. Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.</p>
        <img src="../assets/images/content/gettyimages-631075562.jpg" alt="chart image">
        <p>Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
          Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum
          ullamcorper est sit amet, molestie mollis nulla. Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.<br><br></p>
      </div>
    </div>
  </div>
</div>
