<div class="contact-main">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
        <h2>Contact Us</h2>
        <p>Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis
          tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare.</p>
        <a href="tel:1234567"><img src="../assets/images/icons/phone.svg" alt="phone icon">123 45 67</a>
        <a href="mailto:alpha-bit@email"><img src="../assets/images/icons/mail.svg" alt="mail icon">alpha-bit@email</a>
      </div>
    </div>
  </div>
</div>
