<app-profile></app-profile>
<div class="content-wrap">
  <section class="user-main user-balance">
    <div>
      <div class="user-chart">
        <span>BTC/USD 4182</span>
        <span>BTC/EUR 3826</span>
      </div>
    </div>
    <div>
      <div class="user-data">
        <div class="user-block-container">
        <div class="user-count-block">
          <p>BTC Balance</p>
          <span>2.3000</span>
        </div>
        <div class="user-count-block">
          <p>USD Balance</p>
          <span>11,132.00</span>
        </div>
        </div>
        <div class="user-block">
          <span>Daily Profit<small>+100$</small></span>
          <span class="user-trend ">+12%</span>
        </div>
        <div class="user-block">
          <span>Monthly Profit<small>-2000$</small></span>
          <span class="user-trend user-trend-red">-20%</span>
        </div>
        <div class="user-block">
          <span>This Year's Profit<small>+5000$</small></span>
          <span class="user-trend ">+80%</span>
        </div>
      </div>
    </div>
  </section>
</div>

<footer class="small-footer">
  <div>
    <small>Copyright 2017. All Rights Reserved.</small>
  </div>
</footer>
