<div id="modal-window" class="modal-wrapper">

  <div id="modal" class="modal-window signin">
    <h5>Registration</h5>
    <div class="close-btn" (click)="closeModal($event)"></div>
    <form class="inp-grid">
      <input type="text" placeholder="First Name" required>
      <input type="text" placeholder="Last Name" required>
      <input type="text" placeholder="Phone Number" required>
      <input type="text" placeholder="Country" required>
      <input type="text" placeholder="Email" required>
      <input type="password" placeholder="Password" required>
    </form>

    <a class="signin-btn" (click)="signUp()">Create an Account</a>
    <span>Already have an Account? <a (click)="switchLogIn()">Log In</a></span>
  </div>

  <div id="email-notification" class="modal-notification hidden">
    <p>Your Account has been created</p>
  </div>

</div>
