<div class="cont-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
        <h2>ICO</h2>
        <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium
          metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat.
          Nulla mollis sapien</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
      <div class="main-content">
        <h5>Tortor ut augue lacinia, at viverra est semper. Sed sapien metus, a tortor.</h5>
        <img src="../assets/images/content/bitcoin.gif" alt="chart image">
        <p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra
          id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut.
          Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
          Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum
          ullamcorper est sit amet, molestie mollis nulla. Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.</p>

        <p>Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
          Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum
          ullamcorper est sit amet, molestie mollis nulla. Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.
          <img src="../assets/images/content/bitcoin1.jpg" alt="chart image"><br><br></p>
      </div>
      <p>Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
        Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum
        ullamcorper est sit amet, molestie mollis nulla. Etiam lorem orci, consequat ac magna quis, facilisis vehicula
        neque.
        <br><br></p>
    </div>

  </div>
</div>
