<div class="top-bg"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="top-chart">
        <span class="chart-total">$4365.96</span><span class="chart-total trend">3.5%&#9650;</span>
        <div class="chart"></div>
      </div>
    </div>
  </div>
</div>

<section class="advantages-section">

  <div id="slider-wrapper">
    <input  type="radio" id="button-1" name="buttons" checked="checked"/>
    <label class="controls"for="button-1"></label>
    <input type="radio" id="button-2" name="buttons"/>
    <label class="controls" for="button-2"></label>

    <div id="slider">
      <ul>
        <li id="slide1">
          <div class="a-item"><img src="../assets/images/icon4.svg" alt="result"><span>Consistent Results</span></div>
          <div class="a-item"><img src="../assets/images/icon3.svg" alt="low risk"><span>Low Risk</span></div>
          <div class="a-item  a-item-s2"><img src="../assets/images/icon2.svg" alt="technology"><span>Unique Technology</span></div>
          <div class="a-item  a-item-s2"><img src="../assets/images/icon1.svg" alt="profits"><span>High Profits</span></div>
        </li>
        <li id="slide2">
          <div class="a-item"><img src="../assets/images/icon2.svg" alt="technology"><span>Unique Technology</span></div>
          <div class="a-item"><img src="../assets/images/icon1.svg" alt="profits"><span>High Profits</span></div>
        </li>

      </ul>
    </div>
  </div>

</section>



<section class="links-section">
  <div class="container">
    <div class="row row-mod">
      <div class="col-xs-2"></div>
      <div class="col-xs-4 l-item l-first"><a [routerLink]="['/arbitrage']"><img
        src="../assets/images/crypto-arbitrage.svg" alt="arbitrage"><span>Crypto Arbitrage</span></a></div>
      <div class="col-xs-4 l-item l-second"><a [routerLink]="['/mining']"><img src="../assets/images/bitcoin-mining.svg"
                                                                               alt="mining"><span>Bitcoin Mining</span></a>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row row-mod">
      <div class="col-xs-2"></div>
      <div class="col-xs-4 l-item l-third"><a [routerLink]="['/about']"><img src="../assets/images/about-us.svg"
                                                                             alt="about-us"><span>About Us</span></a>
      </div>
      <div class="col-xs-4 l-item l-fourth"><a [routerLink]="['/trading']"><img
        src="../assets/images/crypto-trading.svg" alt="trading"><span>Crypto Trading</span></a></div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</section>

<section class="banner-section">

</section>

<section class="slider-section">
  <div class="slider">
    Everyone talks about BitCoin
  </div>

  <!--<div class="slide-item hidden-md">-->
    <!--<img src="../assets/images/twsj-logo.png" alt="the wall street logo">-->
  <!--</div>-->
  <!--<div class="slide-item">-->
    <!--<img src="../assets/images/aljazeera-logo2.png" alt="aljazeera logo">-->
  <!--</div>-->
  <!--<div class="slide-item ">-->
    <!--<img src="../assets/images/cnnmoney-logo.png" alt="cnnmoney logo">-->
  <!--</div>-->
  <!--<div class="slide-item">-->
    <!--<img src="../assets/images/reuters-logo.png" alt="reuters logo">-->
  <!--</div>-->

  <div id="slider2-wrapper">
    <input type="radio" id="button2-1" name="buttons2" checked="checked"/>
    <label for="button2-1"></label>
    <input type="radio" id="button2-2" name="buttons2"/>
    <label for="button2-2"></label>
    <input type="radio" id="button2-3" name="buttons2"/>
    <label class="controls" for="button2-3"></label>
    <input type="radio" id="button2-4" name="buttons2"/>
    <label class="controls" for="button2-4"></label>

    <div id="slider2">
      <ul>
        <li id="slide21">
          <img class="slider2-img" src="../assets/images/slider/icon1.png" alt="channel">
          <img class="slider2-img slider2-img-mod" src="../assets/images/slider/icon2.png" alt="channel">
          <img class="slider2-img" src="../assets/images/slider/icon3.png" alt="channel">
          <img class="slider2-img" src="../assets/images/slider/icon4.png" alt="channel">
        </li>
        <li id="slide22">
          <img class="slider2-img slider2-show" src="../assets/images/slider/icon3.png" alt="channel">
          <img class="slider2-img slider2-show" src="../assets/images/slider/icon4.png" alt="channel">

          <img class="slider2-img" src="../assets/images/slider/icon5.png" alt="channel">
          <img class="slider2-img" src="../assets/images/slider/icon6.png" alt="channel">
          <img class="slider2-img" src="../assets/images/slider/icon7.png" alt="channel">
        </li>
        <li id="slide23">
          <img class="slider2-img" src="../assets/images/slider/icon5.png" alt="channel">
          <img class="slider2-img" src="../assets/images/slider/icon6.png" alt="channel">
        </li>
        <li id="slide24">
          <img class="slider2-img" src="../assets/images/slider/icon7.png" alt="channel">
        </li>

      </ul>
    </div>
  </div>

</section>
