<div class="user-mnu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li><a routerLinkActive="active" [routerLink]="['/balance']">Balance</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/history']">History</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/deposit']">Deposit &
            Withdrawl</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/settings']">Profile
            Settings</a></li>
          <li style="display: inline-block"><a routerLinkActive="active" href="#" (click)="onLogout()">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

