<div class="cont-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
        <h2>Bitcoin Mining</h2>
        <p>Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium
          metus, quis mollis nisl nunc et massa. </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-xs-12 col-xs-offset-0 col-sm-offset-2">
      <div class="main-content">
        <h5>Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.</h5>
        <p>Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra
          id, tempor a tortor. Pellentesque non dignissim neque.
        </p>   <img src="../assets/images/content/bitcoin1.jpg" alt="chart image"><p>Ut porta viverra est, ut dignissim elit elementum ut.
          Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
          Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum
          ullamcorper est sit amet, molestie mollis nulla. Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.</p>

        <p>Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio.
          Donec bibendum nunc sit amet tortor scelerisque luctus et sit amet mauris. Suspendisse felis sem, condimentum
          ullamcorper est sit amet, molestie mollis nulla. Etiam lorem orci, consequat ac magna quis, facilisis vehicula
          neque.<br><br></p>
      </div>
    </div>
  </div>
</div>
