/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1217px) {
  .links-section {
    .l-third {
      &:before {
        width: 338px;
      }
    }
    .l-fourth {
      &:before {
        width: 338px;
        margin-left: -69px;
      }
    }
  }

  header {
    .top-mnu {
      width: 670px;
      margin-left: -51px;
      li {
        a {
          padding: 0 5px;
        }
      }
    }
  }
  .user-mnu {
    ul {
      margin-left: -70px;
      a {
        margin: 0 25px;
      }
    }
  }
  .btn {
    margin-left: 6px;
    padding: 5.5px 10.5px;

  }

  footer {
    height: 392px;
    .footer-content {
      height: 392px;
      .footer-form {

      input {
        margin-top: 16px;

      }
      .send-btn {

        display: inline-block;
        margin-left: 0px;
        margin-top: 15px;
      }
      small {
        margin-top: -20px;
      }
    }}
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1003px) {
  .links-section {
    .l-first {
      border-right: 0;
    }
    .l-third {
      border-right: 0;
      &:before {
        display: none;
      }
    }
    .l-fourth {
      &:before {
        display: none;
      }
    }
  }
  footer {
    .footer-content {
      .footer-form {
        input {
          margin-top: -4px
        }
        .send-btn {
          margin-top: -4px
        }
        width: 290px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
      & a:nth-child(4) {
        grid-column: 1;

      }

    }
  }
  header {
    .top-mnu {
      display: none;

    }
    .login-mnu,
    .usr-mnu {
      margin-right: 40px;
      float: right;
    }
    .humburger {
      display: inline-block;
    }
    .top-logo {
      float: left;
    }
    .drop-mnu {
      visibility: visible;
    }

  }
  .user-mnu {
    display: none;
  }

}

@media only screen and (max-width: 1003px) {
  .content-wrap,
  .content-user-withdrawl {
    height: calc(100vh - 130px);
  }
  .hidden-md {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .links-section {
    height: 340px;
    .l-item {
      margin: 14px 0px;
      a {
        img {
          width: 76px;
          height: 76px;
        }
      }
      span {
        font-size: 15px;

      }
    }
  }
  .banner-section {
    height: 350px;
  }

  .withdrawl-mod {
    height: calc(100vh - 10px) !important;
  }
  .user-settings {
    height: 601px;
    padding: 5px 10px;
    .save-btn {
      width: 100%;
      text-align: center;
    }
    .user-settings-form {
      margin-bottom: 5px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 18px;
      & label:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
        margin-top: 5px;
      }
      & label:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
        margin-top: 5px;
      }
      & label:nth-child(3) {
        margin-top: 2px;
        grid-column: 1;
        grid-row: 3;
      }
      & label:nth-child(4) {
        margin-top: 2px;
        grid-column: 1;
        grid-row: 4;
      }
      & label:nth-child(5) {
        margin-top: 2px;
        grid-column: 1;
        grid-row: 5;
      }
    }
  }

  .content-user-withdrawl {
    height: 505px;
    height: calc(100vh - 130px);
  }
  .content-wrap {
    min-height: 800px;
  }
  .user-depo-form {
    height: 339px;
  }
  .user-balance {
    grid-template-columns: 1fr;
  }
  .user-main {
    padding: 15px;
  }
  .user-mnu {
    ul {
      margin-left: -30px;
      a {
        margin: 0 10px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .links-section {
    height: 300px;
    overflow: hidden;
    .row-mod {
      margin-left: -73px !important;
      margin-right: -62px !important;
    }
  }
  .content-user-withdrawl {
    height: 505px;
    height: calc(100vh - 110px);
  }
  .content-wrap {
    min-height: 620px;
    height: calc(100vh - 110px);
  }
  .user-depo-form {
    span {
      font-size: 14px;
      margin-top: -35px;
    }
    .depo-form {
      .depo-oninput {
        margin-left: 201px;
      }
      label {
        input {
          width: 288px;
          margin-right: 0px;
        }
      }

    }
  }
  .content-user-withdrawl {
    min-height: 505px;
  }
  .user-withdrawl {
    .user-depo {
      .user-code {
        font-size: 28px;
      }
      .copy-btn {
        margin-top: -40px;
        height: 20px;
        width: 45px;
        background-color: #f7f7f7;
        color: lightgrey;
        padding-top: 0px;
      }
    }
  }
  .user-data {
    .user-block-container {
      grid-gap: 10px;

      .user-count-block {
        height: 95px;
        p {
          font-size: 14px;
        }
        span {
          font-size: 20px;
        }
      }
    }
    .user-block {
      margin: 10px auto;
      height: 50px;
      line-height: 40px;
      .user-trend {
        margin-top: 9px;
      }
    }
  }
  .cont-header {
    height: 190px;
    h2 {
      padding-top: 15px;
      font-size: 34px;
    }
    p {
      margin-top: -22px;
      font-size: 13px;
    }
  }
  .user-chart {
    height: 300px;
  }

  .drop-mnu {
    top: 48px;
    height: 100vh;
    width: 320px;
    ul {
      li {
        a {
          margin-left: 10%;
        }

      }
    }
  }

  .main-content {
    h5 {
      font-family: $lato;
      line-height: 1.27;
      font-size: 20px;
    }
    p {
      font-family: $PTSans;
      font-size: 14px;
      line-height: 1.71;
      text-align: justify;
      color: #2a2b2f;
    }
  }
  header {
    .login-mnu {
      margin-top: -10px;
      margin-left: 0;
      margin-right: 27px;
    }
    .h-mod {
      margin-top: 10px;
      margin-right: -158px !important;
      img {
        padding-right: 50px;
      }
    }
    .usr-mnu,
    .humburger {
      margin-top: -9px;
    }
    .hamb-ico {
      margin-top: 17px;
    }

    .btn {
      padding: 2.5px 4.5px;
      font-size: 12px;
    }
    height: 50px;
  }
  .top-logo {
    img {
      margin-top: -20px;
      width: 100px;
    }
    margin-left: -20px;
  }
  .contact-main {
    height: calc(100vh - 442px);

    min-height: 280px;;
    h2 {
      padding-top: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    a {
      display: block;
    }

  }

  footer {
    .footer-content {
      input {
        width: 290px;
      }
      .send-btn {
        width: 290px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 13px;

      }
    }
  }
}

@media only screen and (max-width: 377px) {
  .user-withdrawl {
    .user-depo {
      .copy-btn {
        margin-top: -80px;
      }
    }
  }
}

@media only screen and (max-width: 410px) {
  .drop-mnu {
    ul {
      li {
        a {
          margin-left: 25%;
        }
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 330px) {
  .drop-mnu {
    ul {
      li {
        a {
          margin-left: 32%;
        }
      }
    }
  }
  footer {
    .footer-content {
      .send-btn {
        width: 290px;
        margin-left: 0px;
      }
    }
  }
}

/**/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/**/
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/**/
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/**/
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/**/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/**/
