$lato: Lato, sans-serif;
$PTSans: PTSans, sans-serif;
$orange-color: #f6a623;

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-webfont.woff2') format('woff2'),
  url('/assets/fonts/lato-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('/assets/fonts/PTSans-Caption.woff2') format('woff2'),
  url('/assets/fonts/PTSans-Caption.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
